====关于重定向=====
一个定时任务中以下三条命令的结果和对主机的影响（包括终端显示、磁盘空间、内存以及CPU使用率之类）有什么不同？
00 00 * * * /usr/sbin/ntpdate 192.168.5.110
00 00 * * * /usr/sbin/ntpdate 192.168.5.110 > /dev/null
00 00 * * * /usr/sbin/ntpdate 192.168.5.110 > /dev/null 2>&1

在没有输出及不会出现异常时是没有什么区别；
第一条，当crontab调用时，执行会有输出时错误和标准输出会写成mail通知你，无配置mail则直接写log；
第二条，标准输出重定向到/dev/null（不包含错误信息2），/dev/null，理解为一个空设备，输出到这里就找不回来了
第三条，与第二条类似，2>&1标准输出和错误输出都重定向到/dev/null，也就是不记录任何信息了

当文件脚本运行会输出海量数据的时候，这些没必要的输出就会自动打在log，增加IO交互，降低性能；所以除非这个输出是可预知的并且是你需要的才会保留，其他的都写个> /dev/null 2>&1更稳妥
